<!-- Advertising network verification iframe (acceptable.a-ads.com) -->
<div id="frame" style="width: 100%;margin: auto;position: relative; z-index: 99998;">
    <iframe data-aa='2418668' src='//acceptable.a-ads.com/2418668/?size=Adaptive'
        style='border:0; padding:0; width:70%; height:auto; overflow:hidden;display: block;margin: auto'></iframe>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4855851311212520"
    crossorigin="anonymous"></script>